{% extends "base.html.twig" %}

{% block body %}

<a class="btn btn-light mt-3 ml-3" href="{{ path('veille') }}"><img class ="icon" src="https://image.flaticon.com/icons/png/512/0/340.png" alt=""></a>

<div class="wrap">
    <div class="show d-flex justify-content-center mt-5">
        <div class="showCard card mb-3" style="max-width: 55%; border-radius: 5px;">
            <div class="show row no-gutters">
                <div class="col-md-4">
                    <img src="{{ veille.thumbnails }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">{{ veille.title }}</h2>
                        <p class="card-text"><small class="text-muted">{{ veille.createdAt | date('d/m/Y') }} à {{ veille.createdAt | date('H:i') }}</small></p>
                    </div>
                    <a class="btn btn-outline-primary float-right w-25 mr-3" href="{{ path('veilleEdit', {id: veille.id}) }}" role="button">modifier</a>
                </div>
            </div>
            {% if veilleLink is not null %}
                <div class="yt pb-4 pt-4 d-flex justify-content-center">
                    <iframe width="860" height="515" src="https://www.youtube.com/embed/{{ veille.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {% endif %}
            <div class="p-5"><p class="card-text mt-4">{{ veille.content | nl2br }}</p></div>
        </div>
    </div> 

</div>

{% endblock %}